<section>
    <header>
        <h2>
            Lista de Usuários
        </h2>
    </header>

    <article>
        <table>
            <caption>
                {{users.length}} registros
            </caption>
            <thead>
                <tr>
                    <th>Usuário</th>
                    <th>Url</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>
                        {{user.login}}
                    </td>
                    <td>
                        {{user.url}}
                    </td>
                </tr>
            </tbody>
        </table>
    </article>
</section>
