<section>
    <header>
        <h2>
            Lista de Repositórios
        </h2>
    </header>

    <article>
        <table>
            <caption>
                {{repositories.length}} registros
            </caption>
            <thead>
                <tr>
                    <th>Estrelas</th>
                    <th>Nome</th>
                    <th>Url</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let repository of repositories">
                    <td>
                        {{repository.stargazers_count}}
                    </td>
                    <td>
                        {{repository.name}}
                    </td>
                    <td>
                        <a class="link" [href]="repository.html_url" target="_blank">
                            {{repository.html_url}}
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </article>
</section>
