<header class="app-header">
    <h1 class="app-header__heading">
        GitHub
    </h1>
    <nav class="app-header__nav">
        <ul class="app-header__list">
            <li class="app-header__list-item">
                <a class="app-header__list-item-link" href="" [routerLink]="'/users'">
                    Usuários
                </a>
            </li>
            <li class="app-header__list-item">
                <a class="app-header__list-item-link" href="" [routerLink]="'/search'">
                    Busca Usuário
                </a>
            </li>
        </ul>
    </nav>
</header>
<main class="app-main">
    <router-outlet></router-outlet>
</main>
<footer class="app-footer">
    
</footer>
