<header class="app-header">
    <h1 class="app-header__heading">
        {{title}}
    </h1>
    <nav class="app-header__nav">
        <ul class="app-header__list">
            <li class="app-header__list-item"
                routerLinkActive="app-header__list-item--active">
                <a class="app-header__list-item-link" href="javascript:;" [routerLink]="'/users'">
                    Lista de Usuários
                </a>
            </li>
            <li class="app-header__list-item"
                routerLinkActive="app-header__list-item--active">
                <a class="app-header__list-item-link" href="javascript:;" [routerLink]="'/search'">
                    Buscar Usuário
                </a>
            </li>
        </ul>
    </nav>
</header>
<main class="app-main">
    <router-outlet></router-outlet>
</main>
<footer class="app-footer"></footer>
